<div>
    <h4>Welcome!</h4>
    <input type="username" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <button type="submit"> Submit</button>
</div>