<div>
    <h4>Welcome!</h4>
    <form action="" id="login-form">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="pass" placeholder="Password">
        <button type="submit"> Submit</button>
    </form>
</div>