<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#ADULTING</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>

        <h1>#ADULTING</h1>

    </header>

    <section id="chalkBoard">

        <h2>Adulting made easy</h2>
        <h3>Hassle-free reminders for your busy life.</h3>

    </section>

    <aside id="bigSticky">

        {{signIn}}

    </aside>

    <main>
     {{!-- {{{body}}} --}}
        <section id="wall">

        </section>
    </main>
    
</body>
</html>