
<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="categoryEditor">
            <h4 id="emoji"></h4>
            <h4 id="name"></h4>
            <ul id="color-picker"></ul>
            <li id="color1"></li>
            <li id="color2"></li>
            <button id="save-button">Save</button>

            <script src="/js/categoryEditor.js"></script>
        </div>
      </div>
    </section>

    <aside id="bigSticky">
      <h3>Login</h3>
      <form action="" id="login-form">
        <input type="email" placeholder="email" id="login-email">
        <input type="password" placeholder="password" id="login-password">
        <button>Login</button>
        <button>Sign Up</button>
      </form>

      <script src="/js/script.js"></script>

    </aside>
  </section>
  <section id="desk">
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="addCategory">
            <h5 id="acc">Add Custom Category</h5>
        </div>
  </section>
</section>