
<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="categoryEditor">
        <form>
            <label for="emoji"></label>
            <input type="text" id="emoji">
            
            <input type ="text" id="name">Name of category:</input>
            <p>Please select a color:</p>
            <label for ="red">Red</label>
            <input type ="radio" id="color1" name="color">
            <label for ="blue">Blue</label>
            <input type ="radio" id="color2" name="color">
            <label for ="green">Green</label>
            <input type ="radio" id="color3" name="color">
            <label for ="yellow">Yellow</label>
            <input type ="radio" id="color4" name="color">
            <label for ="purple">Purple</label>
            <input type ="radio" id="color5" name="color">
            <input type = "submit" value = "Submit" id = "save-button">Save</input>
        </form>
            
            <script src="/js/categoryEditor.js"></script>
        </div>
      </div>
    </section>

    <aside id="bigSticky">
      <h3>Login</h3>
      <form action="" id="login-form">
        <input type="email" placeholder="email" id="login-email">
        <input type="password" placeholder="password" id="login-password">
        <button>Login</button>
        <button>Sign Up</button>
      </form>

      <script src="/js/script.js"></script>

    </aside>
  </section>
  <section id="desk">
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="addCategory">
            <h5 id="acc">Add Custom Category</h5>
        </div>
  </section>
</section>