<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="catchPhrase">
        <h2>Adulting made easy:</h2>
        <h3>Hassle-free reminders for your busy life.</h3>
        <span id="line"></span>
        <div id="about">
          <p>
            With easy-to-use reminders for everything from changing air filters
            to getting your oil changed, #Adulting makes it easy to stay on
            track and avoid costly repairs down the line. Download #Adulting
            today and take the first step towards stress-free maintenance!</p>
        </div>
      </div>
    </section>

    <aside id="bigSticky">
      <h3>Login</h3>
      <form action="" id="login-form">
        <input type="email" placeholder="email" id="login-email">
        <input type="password" placeholder="password" id="login-password">
        <button>Login</button>
      </form>

      <script src="/js/script.js"></script>

    </aside>
  </section>
  <section id="desk">
        <div id="sticky";>

        </div>
        <div id="sticky">

        </div>
        <div id="sticky">

        </div>
        <div id="sticky">

        </div>
        <div id="sticky">

        </div>
  </section>
</section>