<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="catchPhrase">
        <h2>Adulting made easy:</h2>
        <h3>Hassle-free reminders for your busy life.</h3>
        <span id="line"></span>
        <div id="about">
          <p>
            With easy-to-use reminders for everything from replacing 
            your air filters to taking Fido to the vet for his annual checkup, 
            #ADULTING makes it easy to stay on track and avoid costly 
            repairs down the line. Sign up today to start receiving email reminders 
            that fit your adult responsibilities!
          </p>
        </div>
      </div>
    </section>

    <aside id="bigSticky">
      <div id="logHead">
        <h3 class="logTitle">Login</h3>
      </div>
      
      <form action="" id="login-form">
        <label for="email">Email:</label>
        <input type="email" id="login-email">
        <label for="password">Password:</label>
        <input type="password" id="login-password">
        <button id="login-button">Login</button>
        <a id="sI" href="/signup">Don't have an account yet? Sign Up</a>
      </form>

      <script src="/js/login.js"></script>

    </aside>
  </section>

  <section id="desk" data-loggedIn={{loggedIn}}>
      {{#each sticky}}
        {{>sticky}}
      {{/each}}

      <script src="/js/desk.js"></script>
      
  </section>
</section>