<h4>Sign-Up!</h4>
    <form action="" id="signup-form">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="pass" placeholder="Password">
        <button type="submit">Submit</button>
    </form>

<script src="js/auth.js"></script>